@model List<AppCliente.Models.Cliente>

<h2>Lista de Clientes</h2>

<a href="/Clientes/Agrega">Agregar Nuevo Cliente</a>

<table border="1">
    <thead>
        <tr>
            <th>Id</th><th>Nombre</th><th>Email</th><th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Email</td>
                <td><a href="/Clientes/Elimina/@cliente.Id">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>
